@import "../variables";

section.library {
    display: flex;
    flex-direction: column;
    padding: 16px 48px;

    .title {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
    }

    .search-field {
        font-size: 1.5rem;
        padding: 16px;

        background-color: $input-color;
        outline: 0px solid transparent;
        border: 0px solid transparent;

        border-radius: 12px;
        width: 640px;
        min-width: 320px;
        align-self: center;
    }

    .cards-container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 20px;
        // row-gap: 20px;
        grid-auto-rows: 1fr;

        .card {
            height: 100%;
            height: -webkit-fill-available;
            align-self: center;
            background-color: gainsboro;
            display: block;
            border-radius: 5px;
            overflow: hidden;
            padding-bottom: 20px;

            margin-top: 20px;


            &>* {
                margin: 0;
            }

            .card-title {
                text-align: left;
                padding: 12px 20px;
                margin: 0;
                font-size: 24px;
            }

            .card-author {
                padding: 0px 20px;
            }

            .card-thumbnail {
                width: 100%;
                aspect-ratio: 1 / 1.6;
                object-fit: cover;
                background-image: url('/assets/images/no-image.svg');
                background-size: cover;
                background-position: center center;
                display: block;
            }

            .card-location {
                padding: 0px 20px;
            }

            .card-description {
                padding: 0px 20px;
            }

            .card-tags-container {
                margin-top: 8px;
                padding: 0px 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 4px;

                .card-tag {
                    display: inline-block;
                    padding: 4px 6px;
                    background-color: #fff;
                    border-radius: 6px;
                    flex-grow: 0;
                }
            }

            .card-genres-container {
                margin-top: 8px;
                padding: 0px 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 4px;

                .card-genre {
                    display: inline-block;
                    padding: 4px 6px;
                    background-color: #444;
                    border-radius: 6px;
                    color: white;
                    flex-grow: 0;
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        button {
            display: inline-block;
            background-color: $background-accent;
            color: $text-main;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1.25rem;
            font-size: 1rem;
            font-family: inherit;
            font-weight: 500;
            text-decoration: none;
            transition: background-color 1s cubic-bezier(0.23, 1, 0.320, 1), color 1s cubic-bezier(0.23, 1, 0.320, 1), opacity 1s cubic-bezier(0.23, 1, 0.320, 1),
                border 1s cubic-bezier(0.23, 1, 0.320, 1);
            cursor: pointer;
            margin: 0 10px;

            &:hover {
                background-color: #EAEAEAff;
                color: $text-sub;
            }

            &:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
        }
    }

}