@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import 'variables.scss';

body {
    font-size: 16px;
    font-family: Onest, "SF Pro", Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    color: $text-main;

    background-color: $background-main;
}